.nsTNL {
	TEXT-ALIGN: left
}
A.nsTNL:link {
	TEXT-DECORATION: none
}
.nsTNI {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
A.nsTNI:link {
	TEXT-DECORATION: none
}
.nsTNIB {
	FONT-WEIGHT: 900; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
A.nsTNIB:link {
	TEXT-DECORATION: none
}
.nsTNLM {
	TEXT-ALIGN: left
}
A.nsTNLM:link {
	TEXT-DECORATION: none
}
.nsTNIM {
	FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
A.nsTNIM:link {
	TEXT-DECORATION: none
}
.nsTNIBM {
	FONT-WEIGHT: 900; FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
A.nsTNIBM:link {
	TEXT-DECORATION: none
}
.ieTNM {
	BORDER-RIGHT: #bbbbbb 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px outset; PADDING-LEFT: 3px; BACKGROUND: #9999cc; VISIBILITY: visible; PADDING-BOTTOM: 3px; MARGIN: 0pt; FONT: 8pt Arial, Helvetica; BORDER-LEFT: #000000 1px outset; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: #bbbbbb 1px outset; POSITION: absolute; TEXT-ALIGN: left
}
.ieTNS {
	WIDTH: 100px; POSITION: relative; TEXT-ALIGN: left
}
.ieTNI {
	VERTICAL-ALIGN: top; WIDTH: 100px; CURSOR: hand; COLOR: white; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNI:hover {
	BACKGROUND: #8888bb
}
.ieTNIL {
	PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 100px; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #7d7d97 1px solid; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIL:hover {
	BACKGROUND: #8888bb
}
.ieTNIB {
	FONT-WEIGHT: 900; VERTICAL-ALIGN: top; WIDTH: 100px; CURSOR: hand; COLOR: white; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIB:hover {
	BACKGROUND: #8888bb
}
.ieTNIBL {
	BORDER-RIGHT: #7d7d97 0px solid; BORDER-TOP: #7d7d97 0px solid; FONT-WEIGHT: 900; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #7d7d97 0px solid; WIDTH: 100px; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #7d7d97 1px solid; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIBL:hover {
	BACKGROUND: #8888bb
}
.ieTNMM {
	BORDER-RIGHT: #bbbbbb 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px outset; PADDING-LEFT: 3px; BACKGROUND: #9999cc; PADDING-BOTTOM: 3px; MARGIN: 0pt; FONT: 8pt Arial, Helvetica; BORDER-LEFT: #000000 1px outset; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: #bbbbbb 1px outset; POSITION: absolute; TEXT-ALIGN: left
}
.ieTNSM {
	WIDTH: 100px; POSITION: relative; TEXT-ALIGN: left
}
.ieTNIM {
	WIDTH: 100px; CURSOR: hand; COLOR: white; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIM:hover {
	BACKGROUND: #8888bb
}
.ieTNILM {
	PADDING-BOTTOM: 3px; WIDTH: 100px; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #7d7d97 1px solid; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNILM:hover {
	BACKGROUND: #8888bb
}
.ieTNIBM {
	FONT-WEIGHT: 900; WIDTH: 100px; CURSOR: hand; COLOR: white; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIBM:hover {
	BACKGROUND: #8888bb
}
.ieTNIBLM {
	BORDER-RIGHT: #7d7d97 0px solid; BORDER-TOP: #7d7d97 0px solid; FONT-WEIGHT: 900; PADDING-BOTTOM: 3px; BORDER-LEFT: #7d7d97 0px solid; WIDTH: 100px; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #7d7d97 1px solid; POSITION: relative; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.ieTNIBLM:hover {
	BACKGROUND: #8888bb
}
